.FormWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  overflow: auto;
}

.Form {
  display: flex;
  flex-direction: column;
  color: #333;
  width: 64rem;
  line-height: 2rem;
  font-size: 1.5rem;
  padding: 6rem 0;
}

.Content {
  margin-bottom: 3rem;
}

.Question {
  border: 1px solid #777;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.Title {
  padding: 1rem;
  border-bottom: 1px solid #777;
}

.TitlePrefix {
  font-weight: 700;
  color: rgb(40, 83, 126);
}

.Choice {
  cursor: pointer;
  padding: 1rem;
  border-bottom: 1px solid #777;
}

.Choice.withoutBottomBorder {
  border-bottom: none;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.Choice.choosed {
  background-color: rgb(40, 83, 126);
  color: #EEE;
}

.Choice:hover {
  background-color: #DDD;
}

.Choice.choosed:hover {
  background-color: rgb(20, 56, 91);
}

.Button {
  cursor: pointer;
  background-color: rgb(40, 83, 126);
  color: #EEE;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2.5rem;
  line-height: 2rem;
  font-size: 1.5rem;
  align-self: end;
}

.Button:hover {
  background-color: rgb(20, 56, 91);
}

.Input {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  line-height: 2rem;
  font-size: 1.5rem;
  width: 100%;
  color: inherit;
  font-family: inherit;
}
